<nav class="navbar navbar-light shadow-sm">
  <div class="container">
    <div id="navbarNav">
      <span class="navbar-nav ms-auto">
        <span class="navbar-brand">
          Report POC App
        </span>
        <span class="nav-item">
          <a class="nav-link" routerLink="/entities" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Entities
          </a>
        </span>
        <span class="nav-item">
          <a class="nav-link" routerLink="/entity-fields" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Entity Fields
          </a>
        </span>
      </span>
    </div>
  </div>
</nav> 