<div class="container mt-4">
  <h2>Entity Fields</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Fields</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entity of entities">
          <td>
            <div class="entity-name">{{ entity.name }}</div>
            <div class="entity-description">{{ entity.description }}</div>
          </td>
          <td>
            <div class="fields-container">
              <div *ngFor="let field of entity.fields" class="field-item">
                <span class="field-name">{{ field.fieldName }}</span>
                <span class="badge" [attr.data-type]="field.dataType">{{ field.dataType }}</span>
                <span class="badge" [attr.data-optional]="field.isRequired">{{ field.isRequired ? 'Required' : 'Optional' }}</span>
                <span class="field-description">{{ field.description }}</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 